@import "./variables";
@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive, "Lucida Calligraphy",
    "Lucida Handwriting", "Segoe Script", "Segoe Print", serif;
}

body {
  background-color: $body-bg;
  color: $text-color;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
}
