@import "./variables";
@import "~bootstrap/scss/bootstrap";

* {
  font-family: cursive, serif;
}

body {
  background-color: $body-bg;
  color: $text-color;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
}
